<!-- Modular header included in /views/partials -->
        <%- include("./partials/header.ejs") -%>
        <!-- <%- include("../components/navbar.ejs") -%> -->

        <div class="container">
            <div class="jumbotron text-center mt-5">
                <h1>Bienvenido estudiante</h1>
                <hr>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo magni libero consequuntur dignissimos aliquam ratione porro est voluptatum eaque veritatis rem eveniet quaerat enim, illum adipisci sequi. Magni, minima rem?</p>
            
                <button class="btn btn-info">Comienza a estudiar</button>
            </div>
        </div>

        <div class="container">
            <div class="course-list" id="course-list"></div>
        </div>

        <script src="/assets/js/app.js"></script>
    </body>
</html>