<html>
    <head>
        <title>SlickLearn</title>
        <link rel="stylesheet" href="/assets/css/app.css">
    </head>

    <body>
        <%- include("../components/navbar.ejs") -%>

        <div class="hero">
            <h1>Bienvenido estudiante</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo magni libero consequuntur dignissimos aliquam ratione porro est voluptatum eaque veritatis rem eveniet quaerat enim, illum adipisci sequi. Magni, minima rem?</p>
        
            <button class="btn">Comienza a estudiar</button>
        </div>

        <div class="container">
            <div class="course-list" id="course-list"></div>
        </div>

        <script src="/assets/js/app.js"></script>
    </body>
</html>