<div class="navbar">
    <div class="nav-brand">
        <span class="nav-title">SLICKLEARN</span>
    </div >

    <ul class="nav-buttons">

        <li class="nav-item">
            <a>Home</a>
        </li>

        <li class="nav-item">
            <a>dasdasd</a>
        </li>

        <li class="nav-item">
            <a>erwewr</a>
        </li>


    </ul>

</div>